@import url('https://fonts.googleapis.com/css2?family=Itim&family=Hind+Mysuru:wght@300;400;500;600;700&Kalam:wght@300;400;700&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Sunflower:wght@300;500;700&display=swap');

$fm_Poppins: 'Poppins', sans-serif;
$fm_Sunflower: 'Sunflower', sans-serif;
$fm_PatrickHand: 'Patrick Hand', cursive;
$fm_Kalam: 'Kalam', cursive;
$fm_Itim: 'Itim', cursive;
$fm_HindMysuru: "Hind Mysuru", sans-serif;